---
import BaseLayout from "../layouts/BaseLayout.astro";

let title = 'About'
---

<BaseLayout {title}>
    <section class="mx-auto pt-12 text-center">
    <h1 class="text-5xl text-brand5 mb-6">About</h1>
    <p>We are a community of developers from Zimbabwe who work on various open source projects</p>
        <p>Our goal is to be one of the biggest coding communities in the world.&nbsp;</p>
    </section>
</BaseLayout>