---
import BaseLayout from "../layouts/BaseLayout.astro";

let title = "Home";
---

<BaseLayout {title}>
	<h1 class="text-3xl font-semibold text-blue-600">JS Hub Zim</h1>
</BaseLayout>
<!-- <html lang="en">
	<head>
		<!-- <link rel="stylesheet" href="../styles/tailwind.css"> -->
		<!-- <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<main class="container mx-auto">

			<h1 class="text-3xl font-semibold text-blue-600">Astro</h1>
		</main>
	</body>
</html>  -->
