---
import BaseLayout from "../layouts/BaseLayout.astro";

let title = "Home";
---

<BaseLayout {title}>
	<section class="mx-auto text-center">
		<h1 class="mb-2 text-4xl font-semibold text-blue-600">JS Hub Zim</h1>
		<h2>Welcome to Javascript Hub Zimbabwe</h2>
		<p>We are a community of developers from Zimbabwe who work on various open source projects
			<br>Esp in 2022, Our goal is to be one of the biggest coding communities in the world.&nbsp;</p>

		<h3>Projects we are currently working on</h3>
		<div class="grid sm-grid-cols-2 md:grid-cols-3">

		</div>

	</section>

</BaseLayout>
<!-- <html lang="en">
	<head>
		<!-- <link rel="stylesheet" href="../styles/tailwind.css"> -->
		<!-- <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<main class="container mx-auto">

			<h1 class="text-3xl font-semibold text-blue-600">Astro</h1>
		</main>
	</body>
</html>  -->
