---
import BaseLayout from "../layouts/BaseLayout.astro";

import portfolio from "../data/projects.json";
import Project from "../components/Project.astro";


let title = 'Portfolio';
---

<BaseLayout {title}>
    <h1 class="text-3xl font-semibold text-brand5 mb-8">Portfolio</h1>
    <section class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
        {portfolio.map(project => (
            <Project project={project}/>
        ))}
     
    </section>
</BaseLayout>