---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const {title="Js Hub Zim", description="JS Hub Website", permalink} = Astro.props;


---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body class=" font-body antialiased bg-gray-300">
        <Navigation />
		<main class="container mx-auto py-10 px-8 min-h-screen">
		<slot/>
		</main>
		<Footer />

		<!-- ICONS -->
		<script src="https://unpkg.com/lucide@latest"></script>
		<!-- <script>
			lucide.createIcons();
		</script>  -->
	
	</body>
</html>
